<nav class="bg-[#1A1D1B] border border-[#28392f] rounded-2xl overflow-hidden p-3 shadow-lg">
    <a class="flex items-center gap-3 px-4 py-3.5 rounded-xl bg-[#28392f] text-white font-medium mb-1 transition-all border border-[#3b5445]"
        routerLink="/dashboard/profile" fragment="personal">
        <span class="material-symbols-outlined text-primary">person</span>
        Informations Personnelles
    </a>
    <a class="flex items-center gap-3 px-4 py-3.5 rounded-xl text-[#9db9a8] hover:text-white hover:bg-[#28392f]/50 transition-colors font-medium mb-1"
        routerLink="/dashboard/profile" fragment="farm">
        <span class="material-symbols-outlined">local_shipping</span>
        Adresses & Livraison
    </a>
    <a class="flex items-center gap-3 px-4 py-3.5 rounded-xl text-[#9db9a8] hover:text-white hover:bg-[#28392f]/50 transition-colors font-medium mb-1"
        routerLink="/dashboard/profile" fragment="farm">
        <span class="material-symbols-outlined">receipt_long</span>
        Facturation
    </a>
    <a class="flex items-center gap-3 px-4 py-3.5 rounded-xl text-[#9db9a8] hover:text-white hover:bg-[#28392f]/50 transition-colors font-medium mb-1"
        routerLink="/dashboard/profile" fragment="security">
        <span class="material-symbols-outlined">lock</span>
        Sécurité
    </a>
    <a class="flex items-center gap-3 px-4 py-3.5 rounded-xl text-[#9db9a8] hover:text-white hover:bg-[#28392f]/50 transition-colors font-medium"
        routerLink="/dashboard/profile" fragment="personal">
        <span class="material-symbols-outlined">notifications</span>
        Préférences
    </a>
</nav>