/* Floating label transition */
.floating-input:placeholder-shown + .floating-label {
    transform: translateY(0) scale(1);
    color: #9db9a8;
}
.floating-input:not(:placeholder-shown) + .floating-label,
.floating-input:focus + .floating-label {
    transform: translateY(-20px) scale(0.85);
    color: #13ec6a;
}
